@{
    ViewData["Title"] = "Оформление заказа";
}

<link href="~/css/datepicker.min.css" rel="stylesheet" type="text/css">

<h2>Форма оформления покупки</h2>

<form method="post" class="form-horizontal" role="form">
    <input type="hidden" value="@ViewBag.ServiceId" name="ServiceId" />
    <p>Для оформления покупки заполните следующие поля:</p>
    <div class="form-group">
        <label for="User" class="col-md-2 control-label">Имя:</label>
        <div class="col-md-4">
            <input type="text" name="User" class="form-control" />
        </div>
    </div>
    <div class="form-group">
        <label for="Address" class="col-md-2 control-label">Адрес:</label>
        <div class="col-md-4">
            <input type="text" name="Address" class="form-control" />
        </div>
    </div>
    <div class="form-group">
        <label class="col-md-2 control-label">Телефон:</label>
        <div class="col-md-4">
            <input type="text" name="ContactPhone" class="form-control" />
        </div>
    </div>
    <div class="form-group">
        <label for="Address" class="col-md-2 control-label">Дата и время:</label>
        <div class="col-md-4">
            <input type='text' id='timepicker-actions-exmpl' class="form-control" />
        </div>
    </div>
   
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" class="btn btn-default" value="Отправить" />
        </div>
    </div>

    @section Scripts{
        <script src="~/js/datepicker.min.js" asp-append-version="true"></script>

        <script>

            var start = new Date(),
                prevDay,
                startHours = 9;

           
            start.setHours(9);
            start.setMinutes(0);

            
            if ([6, 0].indexOf(start.getDay()) != -1) {
                start.setHours(10);
                startHours = 10
            }

            $('#timepicker-actions-exmpl').datepicker({
                timepicker: true,
                startDate: start,
                minHours: startHours,
                maxHours: 18,
                onSelect: function (fd, d, picker) {
                   
                    if (!d) return;

                    var day = d.getDay();

                    if (prevDay != undefined && prevDay == day) return;
                    prevDay = day;

                    if (day == 6 || day == 0) {
                        picker.update({
                            minHours: 10,
                            maxHours: 16
                        })
                    } else {
                        picker.update({
                            minHours: 9,
                            maxHours: 18
                        })
                    }
                }
            })
        </script>

    }

</form>
