@{
    ViewData["Title"] = "Контакты";
}


<h2>Схема проезда</h2>
<fieldset>
    <legend></legend>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <div id="googleMap" style="height:400px;width:100%;"></div>
    <script>

        function myMap() {
            var myCenter = new google.maps.LatLng(53.879448, 27.490621);
            var mapProp = { center: myCenter, zoom: 12, scrollwheel: false, draggable: true, mapTypeId: google.maps.MapTypeId.ROADMAP };
            var map = new google.maps.Map(document.getElementById("googleMap"), mapProp);
            var marker = new google.maps.Marker({ position: myCenter });
            marker.setMap(map);
        }
    </script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCDvc-cgjb_O2SoZp1e7nCjyes6vyWZtJs&callback=myMap"></script>

    <address>
       г.Минск<br />
        ул. Гурского 23/1<br />
        <abbr title="Телефон">P:</abbr>
        +375293777463
    </address>

    <address>
        <strong>Поддержка:</strong> <a href="mailto:iwantsomejackdaniels@gmail.com">iwantsomejackdaniels@gmail.com</a><br />
        <strong>Отдел продаж:</strong> <a href="mailto:idealsite@tut.by">idealsite@tut.by</a>
    </address>

</fieldset>



