
@{
    var message = ViewData["Message"] as string;
}

<h2>@message</h2>
<div class="form-group">
    
        <button type="button" class="btn btn-secondary btn-lg" onclick="location.href = '/Home/Index';">Назад</button>
   
</div>

