
@{
    var message = ViewData["Message"] as string;
}

<h2>@message</h2>
<div class="form-group">
    <div class="col-md-offset-2 col-md-10">
        <a href="~/Home/Index" class="btn btn-secondary btn-lg active" role="button" aria-pressed="true">Назад</a>
    </div>
</div>

